<html>
<body style="background-color: pink;">
    <div >
        <h2>Price Prediction of Airbnb</h2>
        <form action="/price" method="POST" style="text-align: center;">
            <label for="bathrooms">Number of Bathroom(s)</label>
            <input id="bathrooms" name="bathrooms" type="number" step="1" >
            <br>
            <label for="bedrooms">Number of Bedroom(s)</label>
            <input id="bedrooms" name="bedrooms" type="number" step="1">
            <br>
            <label for="room_type">Choose a Type of Room:</label>
            <select id="room_type" name="room_type" type="number">
            <option value=0>Apartment</option>
            <option value=1>Private Room</option>
            <option value=2>Share Room</option>
            </select>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>

    <div>
        <h2>Visualization Reports of Airbnb within Boston</h2>
        <figure style="text-align: center;">
            <img src="../static/price_distribution.png" alt="Boston AirBnb Price Distribution" >
            <figcaption>
                Figure 1 - Distribution of Airbnb Price in Boston area.
                Blue dots represent the average price of area
            </figcaption> 
        </figure>  
        <figure style="text-align: center;">
            <img src="../static/roomtype.png" alt="Room Type vs Price" >
            <figcaption>
                Figure 2 - Airbnb price vs Type of Room
            </figcaption> 
        </figure>
        <div style="display: inline;">
            <figure style="text-align: center;">
                <img src="../static/bar_line_trend.png" alt="Room Type vs Price" >
                <figcaption>
                    Figure 3 - Bar graph of Airbnb price trends over months
                </figcaption>
            </figure>
            <figure style="text-align: center;">
                <img src="../static/line_price_trend.png" alt="Boston AirBnb Price Distribution" >
                <figcaption>
                    Figure 4 - Line graph of Airbnb price trends over months
                </figcaption>
            </figure>
        </div>        
    </div>
</body>
</html>
